/* Styles for page Noie */
noie {
  display: none;
}
noie.isie {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: #ddd;
  color: #555;
  text-align:center;
  display:block;
}

noie.isie #noie-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 80%;
}
#noie-message ux-grid {
  max-width: 600px;
}
